.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  max-width: 60%;
  min-width: 40%;
}

.spot-description {
  display: flex;
  flex-direction: row;
}

.numreviews {
  text-decoration: underline;
}

.bullet {
  margin-left: 10px;
  margin-right: 10px;
}

.location {
  text-decoration: underline;
}

.crud-button {
  border: none;
  margin-right: 5px;
  background-color: white;
  text-decoration: underline;
  cursor: pointer;
  font-size: 15px;
}

.image-container {
  height: 30vw;
  vertical-align: bottom;
  width: 100%;
  margin-bottom: 40px;
}

.image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 17px;
}

.spot-location-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}



.under-image-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}



.host {
  margin-top: 0;
}

.box-under-host-desc {
  border-top: lightgrey 1px solid;
  margin-top: 10px;
}

.rating-and-review-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-review-card-container {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 10px;
}

.right-desc {
  border: 1px solid lightgrey;
  width: 300px;
  border-radius: 10px;
  /* display: flex;
  flex-direction: column */
  box-shadow: rgb(0 0 0 / 12%) 0px 6px 16px;
  padding: 5px;
}

.right-desc-price {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px 10px;
}

.price {
  font-weight: bold;
}

.review-button {
  width: 150px;
  margin-bottom: 10px;
  margin-top: 10px;
  align-self: center;
  cursor: pointer;
  padding-top: 15px;
  padding-bottom: 15px;
  font-weight: bold;
  color: white;
  background-color: rgb(215, 4, 102);
  border: none;
  border-radius: 10px;
}

.review-button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
/* body {
  padding-left: 40px;
  padding-right: 40px;
} */
