.spot-location-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.under-image-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.whole-card-container {
  display: flex;
  justify-content: space-around;
}
