.review-card {
  border: lightgrey 1px solid;
  padding: 10px;
  border-radius: 10px;
  max-width: 539px;
  overflow-wrap: break-word;
}

.name-delete {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.x-button {
  background-color: white;
  border: none;
  color: red;
  border-radius: 4px;
  cursor: pointer;
}

.first-name {
  font-weight: bold;
}

.date {
  color: grey;
  font-size: 14px;
}

.rating-date {
  display: flex;
  align-items: center;
}

/* .review {
  max-width: 539px;
  display: flex;
  flex: wrap;
} */

.edit-delete-rvw {
  display: flex;
}

#review-edit-btn {
  margin-right: 5px;
}
