/* #modal-content > .signup{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */

.signuph1 {
  margin-bottom: 0px;
  margin-top: 0px;
}

.sign-up-input {
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  border: 1px solid black;
  border-top: none;
}
