.spot-card-container {
  height: 350px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1 0 15%
}

.card-image {
  width: 300px;
  height: 275px;
  object-fit: cover;
  border-radius: 10px;
}

.location-and-rating {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* text-decoration: none; */
  font-weight: bold;
  margin: 10px 0px 10px 0px;
}

.rating {
  font-weight: normal;
}

.price {
  font-weight: bold;
}

.night {
  font-weight: normal;
}

.cards {
  text-decoration: none;
  color: black;
}

.Spots-main-div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px 20px;
  margin-left: 16px;
  margin-right: 16px;
}
