.spot-night-crud {
  display: flex;
  flex-direction: row;
  justify-content: space-between
}

.city-state-container {
  width: 80%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
