.nav-container {
  border-bottom: 1px solid lightgrey;
  margin-bottom: 30px;
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  background-color: white;
}


.top-nav {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 86%;
  /* border-bottom: grey solid 1px; */
  height: 80px;
  /* margin-bottom: 30px; */
  width: 100%;
}

.profile-dropdown {
  display: flex;
  flex-direction: column;
  width: 100px;
  border: grey 1px solid;
  border-radius: 5px;
  list-style: none;
  position: absolute;
  right: 90px;
  top: 70px;
  padding-left: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  padding-top: 10px;
  background-color: white;
  overflow: hidden;
}


.profile-dropdown li {
  padding: 5px;
}


.logout-button {
  cursor: pointer;
  border: none;
  background-color: white;
  font-size: 15px;
}

.logout-button:hover {
  background-color: lightgrey;
}

.hidden {
  display: none
}

.right-nav-container {
  display: flex;
  align-items: center;
}

.create-button {
  text-decoration: none;
}

.create-spot-button {
  margin-right: 30px;
}

textarea {
  resize: none;
}

.profile-button {
  border-radius: 17px;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  font-size: 15px;
  cursor: pointer;
  border: 1px solid black;
}

.hamburger-menu {
  margin-right: 6px;
}

.li-modals:hover {
  background-color: lightgrey
}
