.top-nav {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  border: 1px solid red;
  height: 80px;
}

.hidden {
  display: none
}

.right-nav-container {
  display: flex;
}
